{% extends '@BoryDeSaintVincent/layout.html.twig' %}

{% block mainContent %}

    <div id="calendar"></div>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" />

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="http://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

    <script type="text/javascript">
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek'
            },
            editable: true,
            weekends: false,
            option: {
                locale: 'fr',
                isRTL: true
            },
            height: $('#main-side-bar').height() - 60,
            views: {
            }
        }).fullCalendar('getCalendar');

        $().ready(function () {
            //$('#calendar').height();
        });

    </script>

{% endblock %}