{% extends '@BoryDeSaintVincent/layout.html.twig' %}

{% block mainContent %}

    <div id='calendar'></div>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" />

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="http://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

    <script type="text/javascript">
        $('#calendar').fullCalendar({
            weekends: false // will hide Saturdays and Sundays
        });
    </script>

{% endblock %}