<nav id="main-nav-bar" class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('default_index') }}">Bory de Saint Vincent</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            {% else %}
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">Connexion</a>
            {% endif %}
        </li>
    </ul>
</nav>